css

body {
    text-align: center;
    height: 600px;
}

.score {
    position: absolute;
    left: -240px;
    top: 60px;
}

.topScore {
    position: absolute;
    left: -20px;
    top: 60px;
}

.scores {
    position: relative;
    top: -620px;
    left: 50%;
}

.about {
    position: absolute;
    left: -30%;
    top: 60px; 
}