body {
    text-align: center;
    height: 600px;
}

.score {
    position: absolute;
    left: -240px;
    top: 60px;
}

.topScore {
    position: absolute;
    left: -20px;
    top: 60px;
}

.scores {
    position: relative;
    top: -620px;
    left: 50%;
}

.buttons {
    position: relative;
    width: 100px;
    margin: auto;
}

.sw-button {
    background-color: blue;
    color: #FFF;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 800px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    bottom: 25px;
    right: 25px;
}
#description{
    margin:0; 
    padding:0; 
    font-size:15px; 
    line-height:1;
    color: rgb(4, 41, 110);
   
}