
body {

    text-align: center;

    height: 600px;

}



.score {

    position: absolute;

    left: -240px;

    top: 60px;



}



.topScore {

    position: absolute;

    left: -20px;

    top: 60px;

}



.scores {

    position: relative;

    top: -620px;

    left: 50%;

}



.about {

    position: absolute;

    left: -30%;

    top: 60px;

}

.buttons {

    position: relative;

    width: 100px;

    margin: auto;

}
#up {
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 0.5%;
    background-color: rgba(97, 90, 223, 0.673);
    background-image: url('../images/icons8-up-filled-50.png');

}
#left {
    position: relative;
    margin-top: 0.5%;
    height: 50px;
    width: 50px;
    background-color: rgba(97, 90, 223, 0.673);
    background-image: url('../images/icons8-left-filled-50.png');
    background-repeat: no-repeat;
}
#right {
    position: relative;
    margin-top: 0.5%;
    left: 30px;
    height: 50px;
    width: 50px;
    margin-right: 30px;
    background-color: rgba(97, 90, 223, 0.673); 
    background-image: url('../images/icons8-right-filled-50.png');
}
#down {
    position: relative;
    margin-top: 0.5%;
    height: 50px;
    width: 50px;
    background-color: rgba(97, 90, 223, 0.673);
    background-image: url('../images/icons8-down-arrow-filled-50.png');
    background-repeat: no-repeat;

}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:80%;
    position:fixed;
    text-align:center;
    top:10%;
    left: 10%;
    width:80%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */

.sw-button {
    background-color: blue;
    color: #FFF;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
}
